nav {
    width: 100%;
    height: 50px;
    position: relative;
}

.header-link {
    background: aliceblue;
    padding: 5px;
    text-decoration: none;
    border: 1px solid black;
    font-weight: 600;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.header-link:hover, .buttons:hover {
    box-shadow: 1px 1px 1px grey;
}

.settings {
    display: flex;
    flex-wrap: wrap;
}

#title {
    text-align: center;
}

#container {
    margin: auto;
    max-width: 800px;
    max-height: 800px;
    padding: 10px 30px;
}

input[type=number] {
    width: 50px;
}

#speed-icon {
    background: url('./icons/tachometer-alt.svg');
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-5px, 25%);
    -webkit-transform: translate(-5px, 25%);
    -moz-transform: translate(-5px, 25%);
    -ms-transform: translate(-5px, 25%);
    -o-transform: translate(-5px, 25%);
}

#link-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#buttons-section {
}

#buttons-container {
    margin: auto;
    width: fit-content;
}

.buttons {
    margin: 10px auto;
    width: 100px;
    cursor: pointer;
    height: 25px;
    background: aliceblue;
    padding: 5px;
    text-decoration: none;
    border: 1px solid black;
    font-weight: 600;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.buttosn:active {
    cursor: not-allowed;
    background: grey;
}

.alive {
    background: black;
    color: black;
}

table {
    margin: 10px auto;
}

td {
    color: white;
    width: 20px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}

td:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.game-container {
    width: 100%;
    height: 100%;
}

.disabled {
    cursor: not-allowed;
}

.row {
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}